<div class="container">
  <div class="gallery">
    <!-- Gallery Header -->
    <div class="section-header">
      <h2 class="title">
        <i-bs [name]="(collectionService.selectedCollection | async) ? 'image' : 'images'"></i-bs>
        {{(collectionService.selectedCollection | async)?.title || "All Images"}}
      </h2>
      <div class="options">
        <button class="button"
                *ngIf="!isSelectionActive"
                (click)="startSelection()">Select</button>
        <button class="button"
                *ngIf="isSelectionActive"
                (click)="clearSelection(); selectionArea.disable(); isSelectionActive = false">
          Done
        </button>
        <span class="divider"></span>
        <div class="popup"
             (clickOutside)="isDeletingCollection ? null : isOptionsOpen = false"
             *ngIf="!isSelectionActive">
          <div class="popup-parent">
            <button class="button secondary"
                    [class.active]="isOptionsOpen"
                    (click)="isOptionsOpen = !isOptionsOpen">
              <i-bs name="three-dots"></i-bs>
            </button>
          </div>
          <div class="popup-element bottom-right"
               *ngIf="isOptionsOpen">
            <div class="dropdown-menu"
                 style="width: 10rem;">
              <ng-container *ngIf="!isDeletingCollection">
                <div class="dropdown-menu-item">
                  Edit Name
                </div>
                <div class="dropdown-menu-split"></div>
                <div class="dropdown-menu-item danger"
                     (click)="isDeletingCollection = true">
                  Delete Collection
                </div>
              </ng-container>
              <ng-container *ngIf="isDeletingCollection">
                <div class="dropdown-menu-title">Are you sure to delete this collection?</div>
                <div class="dropdown-menu-split"></div>
                <div class="dropdown-menu-item danger"
                     (click)="collectionService.deleteCollection(); isOptionsOpen = false; isDeletingCollection = false">
                  Delete</div>
                <div class="dropdown-menu-item"
                     (click)="isDeletingCollection = false">Cancel</div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="popup"
             (clickOutside)="isAddToCollectionDropdownOpen = false">
          <div class="popup-parent">
            <button class="button secondary"
                    [class.active]="isAddToCollectionDropdownOpen"
                    (click)="isAddToCollectionDropdownOpen = !isAddToCollectionDropdownOpen"
                    *ngIf="isSelectionActive">
              <i-bs name="folder-symlink"></i-bs>
            </button>
          </div>
          <div class="popup-element bottom-right"
               *ngIf="isAddToCollectionDropdownOpen">
            <div class="dropdown-menu">
              <div class="dropdown-menu-title">
                Select Collection
              </div>
              <div class="dropdown-menu-split"></div>
              <div class="dropdown-menu-item"
                   *ngFor="let collection of collectionService.collections | async">
                {{collection.title}}
              </div>
            </div>
          </div>
        </div>
        <button class="button danger"
                (click)="deleteSelectedElements()"
                *ngIf="isSelectionActive">
          <i-bs name="trash"></i-bs>
        </button>
      </div>
    </div>
    <!-- Gallery Items -->
    <div class="items"
         [class.on-selection]="isSelectionActive"
         (appDropZone)="collectionService.addNewImages($event)">
      <div class="item selectable"
           [appDraggable]="{data: image, zones: collectionService.collections | async | droppableCollections: image}"
           *ngFor="let image of collectionService.galleryImages | async">
        <div class="image">
          <img [src]="image.url"
               alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="collections">
    <div class="section-header">
      <h2 class="title">
        <i-bs name="folder"></i-bs> Collections
      </h2>
      <div class="options">
        <div class="popup"
             (clickOutside)="isCollectionAddDropdownOpen = false">
          <div class="popup-parent">
            <button class="button"
                    (click)="isCollectionAddDropdownOpen = !isCollectionAddDropdownOpen">
              <i-bs name="folder-plus"></i-bs>
            </button>
          </div>
          <div class="popup-element bottom-right"
               *ngIf="isCollectionAddDropdownOpen">
            <div class="dropdown-menu">
              <div class="dropdown-menu-content">
                <form class="form-field"
                      (ngSubmit)="createCollection()"
                      style="width: 10rem; margin-bottom: 0;">
                  <label for="">Collection Title</label>
                  <div class="form-control-with-icon">
                    <input class="form-control"
                           required
                           [formControl]="collectionNameTitle">
                    <button style="padding: 0; justify-content: center; width: 2rem; display: flex; align-items: center;"
                            type="submit"
                            class="button secondary succes form-control-icon">
                      <i-bs name="check-circle-fill"></i-bs>
                    </button>
                  </div>
                  <div class="helper danger"
                       *ngIf="collectionNameTitle.invalid && collectionNameTitle.touched && collectionNameTitle.dirty">
                    Please provide a title</div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="items">
      <div class="item">
        <div class="content"
             (click)="collectionService.openCollection(null)">
          <div class="image"
               *ngFor="let image of collectionService.firstFourImage(null)">
            <img [src]="image.url"
                 *ngIf="image"
                 alt="">
          </div>
        </div>
        <span class="title">
          All Images
        </span>
      </div>
      <div class="item selectable"
           *ngFor="let collection of (collectionService.collections | async)">
        <div class="content"
             (click)="collectionService.openCollection(collection)"
             (onDroppableComplete)="collectionService.addImageToCollection($event.data, collection)"
             [appDroppable]="{data: '', zone: collection.id}">
          <div class="image"
               *ngFor="let image of collectionService.firstFourImage(collection.id)">
            <img [src]="image.url"
                 *ngIf="image"
                 alt="">
          </div>
        </div>
        <span [contenteditable]="true"
              (ngModelChange)="collectionService.editSelectedCollectionTitle()"
              (blur)="collectionService.editSelectedCollectionTitle()"
              [(ngModel)]="collection.title"
              class="title">{{collection.title}}</span>
      </div>
    </div>
  </div>
</div>


<!-- This placed becouse z index issues -->
<div class="selection-area"
     style="position: fixed;
z-index: 10000;"></div>
