<div class="container">
  <div class="gallery">
    <div class="section-header">
      <h2 class="title">
        {{(collectionService.selectedCollection | async)?.title || "All Images"}}
      </h2>
      <div class="options">
        <button class="button">Select</button>
        <button class="button danger">Delete Selected</button>
      </div>
    </div>
    <div class="items"
         (appDropZone)="collectionService.addNewImages($event)">
      <div class="item"
           [appDraggable]="{data: image, zones: collectionService.collections | async | droppableCollections: image}"
           *ngFor="let image of collectionService.galleryImages | async">
        <div class="image">
          <img [src]="image.url"
               alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="collections">
    <div class="section-header">
      <h2 class="title">
        Collections
      </h2>
      <div class="options">
        <button class="button"
                (click)="collectionService.addNewCollection()">
          New
        </button>
      </div>
    </div>
    <div class="items">
      <div class="item">
        <div class="content"
             (click)="collectionService.openCollection(null)">
          <div class="image"
               *ngFor="let image of collectionService.firstFourImage(null)">
            <img [src]="image.url"
                 *ngIf="image"
                 alt="">
          </div>
        </div>
        <span class="title">All Images</span>
      </div>
      <div class="item"
           *ngFor="let collection of collectionService.collections | async">
        <div class="content"
             (click)="collectionService.openCollection(collection)"
             (onDroppableComplete)="collectionService.addImageToCollection($event.data, collection)"
             [appDroppable]="{data: '', zone: collection.id}">
          <div class="image"
               *ngFor="let image of collectionService.firstFourImage(collection.id)">
            <img [src]="image.url"
                 *ngIf="image"
                 alt="">
          </div>
        </div>
        <span [contenteditable]="true"
              (ngModelChange)="collectionService.editSelectedCollectionTitle()"
              (blur)="collectionService.editSelectedCollectionTitle()"
              [(ngModel)]="collection.title"
              class="title">{{collection.title}}</span>
      </div>
    </div>
  </div>
</div>


<!-- This placed becouse z index issues -->
<div id="selectablejs-select-area-container"
     style="position: fixed;
z-index: 10000;"></div>
