<div class="container">
  <div class="gallery">
    <!-- Gallery Info -->
    <div class="info-box">
      <div class="info-box-dialog"
           [ngClass]="dialog.color"
           *ngFor="let dialog of dialogService.dialogs | async">
        {{dialog.body}}
      </div>
    </div>
    <!-- Gallery Header -->
    <div class="section-header">
      <h2 class="title">
        <i-bs [name]="(collectionService.selectedCollection | async) ? 'image' : 'images'"></i-bs>
        {{(collectionService.selectedCollection | async)?.title || "All Images"}}
      </h2>
      <div class="options">
        <button class="button"
                *ngIf="!isSelectionActive"
                (click)="startSelection()">Select</button>
        <button class="button"
                *ngIf="isSelectionActive"
                (click)="clearSelection(); selectionArea.disable(); isSelectionActive = false">
          Done
        </button>
        <span class="divider"
              *ngIf="(collectionService.selectedCollection | async) || isSelectionActive"></span>
        <div class="popup"
             (clickOutside)="galleryDropdownContent == 'menu' ? galleryDropdownContent = null : null"
             *ngIf="!isSelectionActive && (collectionService.selectedCollection | async)">
          <div class="popup-parent">
            <button class="button secondary"
                    [class.active]="galleryDropdownContent"
                    (click)="galleryDropdownContent ? galleryDropdownContent = null : galleryDropdownContent = 'menu'">
              <i-bs name="three-dots"></i-bs>
            </button>
          </div>
          <div class="popup-element bottom-right"
               *ngIf="galleryDropdownContent">
            <div class="dropdown-menu">
              <ng-container *ngIf="galleryDropdownContent == 'menu'">
                <div class="dropdown-menu-item"
                     (click)="galleryDropdownContent = 'edit-title'">
                  Edit Title
                </div>
                <div class="dropdown-menu-split"></div>
                <div class="dropdown-menu-item danger"
                     (click)="galleryDropdownContent = 'delete'">
                  Delete Collection
                </div>
              </ng-container>
              <app-collection-title-form *ngIf="galleryDropdownContent == 'edit-title'"
                                         (onValidSubmit)="collectionService.editSelectedCollectionTitle($event); galleryDropdownContent = null"
                                         [title]="(collectionService.selectedCollection | async).title">
              </app-collection-title-form>
              <ng-container *ngIf="galleryDropdownContent == 'delete'">
                <div class="dropdown-menu-title">Are you sure to delete this collection?</div>
                <div class="dropdown-menu-split"></div>
                <div class="dropdown-menu-item danger"
                     (click)="collectionService.deleteCollection(); galleryDropdownContent = null">
                  Delete</div>
                <div class="dropdown-menu-item"
                     (click)="galleryDropdownContent = 'menu'">Cancel</div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="popup"
             *ngIf="isSelectionActive"
             (clickOutside)="isAddToCollectionDropdownOpen = false">
          <div class="popup-parent">
            <button class="button secondary"
                    [class.active]="isAddToCollectionDropdownOpen"
                    (click)="isAddToCollectionDropdownOpen = !isAddToCollectionDropdownOpen">
              <i-bs name="folder-symlink"></i-bs>
            </button>
          </div>
          <div class="popup-element bottom-right"
               *ngIf="isAddToCollectionDropdownOpen">
            <div class="dropdown-menu">
              <div class="dropdown-menu-title">
                Select Collection
              </div>
              <div class="dropdown-menu-split"></div>
              <div class="dropdown-menu-item"
                   (click)="addSelectedItemsToCollection(collection)"
                   *ngFor="let collection of collectionService.collections | async">
                {{collection.title}}
              </div>
            </div>
          </div>
        </div>
        <button class="button danger"
                (click)="deleteSelectedElements()"
                *ngIf="isSelectionActive">
          <i-bs name="trash"></i-bs>
        </button>
      </div>
    </div>
    <!-- Gallery Items -->
    <div class="items"
         [class.on-selection]="isSelectionActive"
         (appDropZone)="collectionService.addNewImages($event)">
      <div class="item selectable"
           [attr.data-image-id]="image.id"
           [appDraggable]="{data: image, zones: collectionService.collections | async | droppableCollections: image}"
           *ngFor="let image of collectionService.galleryImages | async">
        <div class="image">
          <img [src]="image.url"
               alt="">
        </div>
      </div>
      <!-- Welcome Info -->
      <div class="welcome-info"
           *ngIf="!((collectionService.galleryImages | async)?.length)">
        <div class="item">
          <img src="../assets/images/undraw_upload_87y9.svg">
          <h4>Drag and Drop images to upload</h4>
          <span>It seem like there is nothing here, drag and drop files to upload</span>
        </div>

      </div>
    </div>
    <div class="info-bar"
         *ngIf="(collectionService.galleryImages | async)?.length">
      <div class="item"
           *ngIf="!isSelectionActive">
        <img src="../assets/images/undraw_online_gallery_dmv3.svg">
        <h4>Tip: Drag and drop images to add them to collections</h4>
      </div>
      <div class="item"
           *ngIf="isSelectionActive">
        <img src="../assets/images/undraw_images_aef7.svg">
        <h4>Tip: Scan selection area to select multiple items in select mode</h4>
      </div>
    </div>
  </div>
  <div class="collections">
    <div class="section-header">
      <h2 class="title">
        <i-bs name="folder"></i-bs> Collections
      </h2>
      <div class="options">
        <div class="popup"
             (clickOutside)="isCollectionAddDropdownOpen = false">
          <div class="popup-parent">
            <button class="button"
                    (click)="isCollectionAddDropdownOpen = !isCollectionAddDropdownOpen">
              <i-bs name="folder-plus"></i-bs>
            </button>
          </div>
          <div class="popup-element bottom-right"
               *ngIf="isCollectionAddDropdownOpen">
            <div class="dropdown-menu">
              <div class="dropdown-menu-content">
                <app-collection-title-form (onValidSubmit)="createCollection($event)">
                </app-collection-title-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="items">
      <div class="item">
        <div class="content"
             (click)="collectionService.openCollection(null)">
          <div class="image"
               *ngFor="let image of collectionService.firstFourImage(null)">
            <img [src]="image.url"
                 *ngIf="image"
                 alt="">
          </div>
        </div>
        <span class="title">
          All Images
        </span>
      </div>
      <div class="item selectable"
           *ngFor="let collection of (collectionService.collections | async)">
        <div class="content"
             (click)="collectionService.openCollection(collection)"
             (onDroppableComplete)="collectionService.addImageToCollection(($event.data).id, collection)"
             [appDroppable]="{data: '', zone: collection.id}">
          <div class="image"
               *ngFor="let image of collectionService.firstFourImage(collection.id)">
            <img [src]="image.url"
                 *ngIf="image"
                 alt="">
          </div>
        </div>
        <span class="title">{{collection.title}}</span>
      </div>
    </div>
  </div>
</div>
