@use 'styles/reset.css';

:root {
  --border-color: #dbdee1;
  --bg-base: #dbdee1;
  --bg-danger: rgb(237, 45, 45);
  --bg-danger-dark: rgb(210, 31, 31);
  --bg-primary: rgb(45, 115, 237);
  --bg-primary-dark: rgb(31, 88, 210);
  --bg-secondary: hsl(210, 38%, 95%);
  --bg-secondary-dark: hsl(214, 32%, 91%);

  --c-1: hsla(0, 0%, 0%, 0.1);
  --c-06: hsla(0, 0%, 0%, 0.06);
  --active-shadow: 0 0 0 0.2rem rgba(5, 100, 216, 0.496);
  --shadow-sm: 0 1px 2px 0 var(--c-1);
  --shadow-md: 0 4px 6px -1px var(--c-1), 0 2px 4px -1px var(--c-06);
}

@font-face {
  font-family: "Assistant";
  src: url("assets/fonts/Assistant-VariableFont_wght.ttf") format("woff2 supports variations"),
    url("assets/fonts/Assistant-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 200 800;
}

body {
  font-family: "Assistant";
}

.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;
}

.app-droppable {
}

.js-app-droppable--target {
  box-shadow: var(--active-shadow);
}
.js-app-droppable--zone {
  box-shadow: 0 0 0 0.2rem rgba(15, 205, 5, 0.461);
}

.app-draggable {
}

.button {
  padding: 0.325rem 0.65rem;
  border-radius: 0.25rem;

  border-width: 1px;
  box-shadow: va(--shadow-sm);

  --bg-color: var(--bg-primary);
  --text-color: white;

  background-color: var(--bg-color);
  color: var(--text-color);
  &:hover {
    --bg-color: var(--bg-primary-dark);
  }

  &.danger {
    --bg-color: var(--bg-danger);

    &:hover {
      --bg-color: var(--bg-danger-dark);
    }
  }

  &.secondary {
    --text-color: initial;
    --bg-color: var(--bg-secondary);

    &:hover {
      --bg-color: var(--bg-secondary-dark);
    }

    &.active {
      --bg-color: var(--bg-secondary-dark);
    }
  }

  &:focus {
    outline: none;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  cursor: pointer;
}

.dropdown-menu {
  background-color: white;
  border-radius: 0.25rem;
  border-width: 1px;
  padding: 0.5rem 0.5rem;
  box-shadow: var(--shadow-md);

  overflow: hidden;

  display: flex;
  flex-direction: column;

  white-space: nowrap;

  &.scroll {
    max-height: 16rem;
    overflow-y: auto;
  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0.25rem;
    font-weight: 500;
    white-space: break-spaces;
  }

  &-split {
    border-bottom-width: 1px;
    margin: calc(0.25rem - 1px) 0;
  }

  &-content {
    margin: 0.25rem 0;
  }

  &-item {
    padding: 0.35rem 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.danger {
      color: var(--bg-danger);
    }

    &:hover {
      background-color: var(--bg-secondary);
    }
    &:focus {
      outline: none;
      box-shadow: var(--active-shadow);
    }
  }
}

.popup {
  position: relative;
  &.wrap-parent {
    width: max-content;
    height: max-content;
  }
  &.full-width {
    width: 100%;
  }
  &.activate-on-hover {
    .popup-element {
      display: none;
    }
    &:hover {
      .popup-element {
        display: unset;
      }
    }
  }

  &.activate-on-focus {
    .popup-element {
      display: none;
    }
    &:focus-within {
      .popup-element {
        display: unset;
      }
    }
  }

  &-parent {
  }
  &-element {
    position: absolute;

    z-index: 100;

    --popup-base-margin: 0.75rem;

    //bottom-left standart
    top: 100%;
    left: 0;
    right: auto;
    bottom: auto;
    margin: var(--popup-base-margin) 0 0 0;

    &.top-left {
      top: auto;
      left: 0;
      right: auto;
      bottom: 100%;
      margin: 0 0 var(--popup-base-margin) 0;
    }

    &.top-right {
      top: auto;
      left: auto;
      right: 0;
      bottom: 100%;
      margin: 0 0 var(--popup-base-margin) 0;
    }

    &.bottom-left {
      top: 100%;
      left: 0;
      right: auto;
      bottom: auto;
      margin: var(--popup-base-margin) 0 0 0;
    }

    &.bottom-center {
      top: 100%;
      left: 50%;
      right: auto;
      bottom: auto;
      margin: var(--popup-base-margin) 0 0 0;
      transform: translateX(-50%);
    }

    &.bottom-right {
      top: 100%;
      left: auto;
      right: 0;
      bottom: auto;
      margin: var(--popup-base-margin) 0 0 0;
    }

    &.right-center {
      top: 50%;
      left: 100%;
      right: auto;
      bottom: auto;
      transform: translateY(-50%);
      margin: 0 0 0 var(--popup-base-margin);
    }

    &.left-center {
      top: 50%;
      right: 100%;
      left: auto;
      bottom: auto;
      transform: translateY(-50%);
      margin: 0 var(--popup-base-margin) 0 0;
    }
  }
}

.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; //new ios uses this btw
  display: block;
  width: 100%;
  padding: 0.375em 0.75em;
  font-weight: 400;
  line-height: 1.5;

  background-color: white;
  background-clip: padding-box;
  border: 1px solid var(--border-color); //was #ced4da
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: left;

  font-size: 0.9rem;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.invalid,
  &.ng-invalid.ng-touched {
    border-color: var(--bg-danger);
  }

  &.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.form-field {
  max-width: 100%;

  &:not(:empty) {
    margin-bottom: 0.75rem;
  }

  &.max-content {
    max-width: max-content;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  display: flex;
  flex-direction: column;
  justify-content: center; //for centering buttons

  label {
    margin-bottom: 0.25rem;
    display: inline-block;
  }

  .helper {
    margin-top: 2px;
    font-size: 0.75rem;

    &.danger {
      color: var(--bg-danger);
    }
  }
}

.form-control-with-icon {
  display: flex;
  position: relative;
  width: 100%;
  .form-control {
    padding-right: 3em;
  }
  .form-control-icon {
    height: 100%;
    fill: currentColor;

    position: absolute;
    right: 0;
  }

  //not actively used
  .form-control-icon-top {
    width: 1.5em;
    fill: currentColor;

    position: absolute;
    top: calc(0.5em - 1px);
    right: 0.75em;
  }
}
